.section {
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 8rem;
  color: white;
  background-color: black;
  pointer-events: none;
  user-select: none;
}

.scroll__content {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  will-change: transform;
}

.webgl {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  pointer-events: none;
  mix-blend-mode: screen;
}

.section:nth-child(even) {
  flex-direction: row-reverse;
  background-color: blue;
}
